form{
    margin-left: 20%;
    margin-right: 20%;
}
.suggestArtist{
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-send{
    color:#52ff00;
    border: 1px solid #52ff00;
}
.forms-error{
    color:#52ff00;
}